{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- plugin css -->
        <link href="{% static 'assets/libs/jsvectormap/css/jsvectormap.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}"  rel="stylesheet" type="text/css" />

    </head>

    
    <body>
    {% block content %}

    
    {% endblock %}
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenujs/metismenujs.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/eva-icons/eva.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

        <!-- Vector map-->
        <script src="{% static 'assets/libs/jsvectormap/js/jsvectormap.min.js' %}"></script>
        <script src="{% static 'assets/libs/jsvectormap/maps/world-merc.js' %}"></script>
        
        <script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script>

        <script src="{% static 'assets/js/app.js' %}"></script>
                                                                        
        
        
    </body>

</html>