{% load static %}
<div id="sidebar-menu">
    <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title" data-key="t-menu">Панель управления</li>

       <li>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'index' %}" data-key="t-ecommerce">Электронная коммерция</a></li>
                <li><a href="{% url 'sales' %}" data-key="t-sales">Продажи</a></li>
            </ul>
        </li>

        <li class="menu-title" data-key="t-applications">Приложения</li>
        <li>
            <a href="{% url 'calendar' %}">
                <i class="bx bx-calendar-event icon nav-icon"></i>
                <span class="menu-item" data-key="t-calendar">Календарь</span>
            </a>
        </li>

        <li>
            <a href="{% url 'todo' %}">
                <i class="bx bx-check-square icon nav-icon"></i>
                <span class="menu-item" data-key="t-todo">Задачи</span>
            </a>
        </li>

        <li>
            <a href="{% url 'manager' %}">
                <i class="bx bx-file-find icon nav-icon"></i>
                <span class="menu-item" data-key="t-filemanager">Менеджер</span>
            </a>
        </li>

        <li>
            <a href="{% url 'chat' %}">
                <i class="bx bx-chat icon nav-icon"></i>
                <span class="menu-item" data-key="t-chat">Чат</span>
                <span class="badge rounded-pill bg-danger" data-key="t-hot">Горячий</span>
            </a>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-store icon nav-icon"></i>
                <span class="menu-item" data-key="t-ecommerce">Торговля</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'products' %}" data-key="t-products">Продукты</a></li>
                <li><a href="{% url 'product_detail' %}" data-key="t-product-detail">Информация о продукте</a></li>
                <li><a href="{% url 'orders' %}" data-key="t-orders">Заказы</a></li>
                <li><a href="{% url 'customers' %}" data-key="t-customers">Клиенты</a></li>
                <li><a href="{% url 'cart' %}" data-key="t-cart">Корзина</a></li>
                <li><a href="{% url 'checkout' %}" data-key="t-checkout">Проверять, выписываться</a></li>
                <li><a href="{% url 'shops' %}" data-key="t-shops">Магазины</a></li>
                <li><a href="{% url 'add_product' %}" data-key="t-add-product">Добавить товар</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-receipt icon nav-icon"></i>
                <span class="menu-item" data-key="t-invoices">Счета</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'invoice_list' %}" data-key="t-invoice-list">Список счетов</a></li>
                <li><a href="{% url 'list_detail' %}" data-key="t-invoice-detail">Детали счетов</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-user-circle icon nav-icon"></i>
                <span class="menu-item" data-key="t-contacts">Контакты</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'contacts_grid' %}" data-key="t-user-grid">Пользователи</a></li>
                <li><a href="{% url 'contacts_list' %}" data-key="t-user-list">Список пользователей</a></li>
                <li><a href="{% url 'contacts_profile' %}" data-key="t-user-profile">Профиль</a></li>
            </ul>
        </li>

        <li class="menu-title" data-key="t-layouts">Layouts</li>

        <li>
            <a href="layouts-horizontal.html">
                <i class="bx bx-layout icon nav-icon"></i>
                <span class="menu-item" data-key="t-horizontal">Horizontal</span>
            </a>
        </li>

        <li class="menu-title" data-key="t-components">Составные части</li>
        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-table icon nav-icon"></i>
                <span class="menu-item" data-key="t-tables">Столы</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'basic_table' %}" data-key="t-basic-tables">Базовая таблица</a></li>
                <li><a href="{% url 'advanced_table' %}" data-key="t-advanced-tables">Предварительные таблицы</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-pie-chart-alt-2 icon nav-icon"></i>
                <span class="menu-item" data-key="t-charts">Диаграммы</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'charts_apex' %}" data-key="t-apex-charts"> Графики Apex </a></li>
                <li><a href="{% url 'charts_chartjs' %}" data-key="t-chartjs-charts"> Диаграмма Chartjs </a></li>
                <li><a href="{% url 'charts_tui' %}" data-key="t-ui-charts">Диаграмма Toast UI</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-map-alt icon nav-icon"></i>
                <span class="menu-item" data-key="t-maps">Карты</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'maps_google' %}" data-key="t-google">Google</a></li>
            </ul>
        </li> 
        <li class="menu-title" data-key="t-pages">Страницы</li>
        <li>
            <a href="javascript: void(0);">
                <i class="bx bx-user-pin icon nav-icon"></i>
                <span class="menu-item" data-key="t-authentication">Авторизация</span>
                <span class="badge rounded-pill bg-info">8</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'user_login' %}" data-key="t-login">Войти</a></li>
                <li><a href="{% url 'user_register' %}" data-key="t-register">Регистрация</a></li>
                <li><a href="{% url 'recoverpw' %}" data-key="t-recover-password">Восстановить пароль</a></li>
                <li><a href="{% url 'lock_screen' %}" data-key="t-lock-screen">Экран блокировки</a></li>
                <li><a href="{% url 'user_logout' %}" data-key="t-logout">Выйти</a></li>
                <li><a href="{% url 'confirm_mail' %}" data-key="t-confirm-mail">Подтвердите почту</a></li>
                <li><a href="{% url 'verification' %}" data-key="t-email-verification">Проверка электронной почты</a></li>
                <li><a href="{% url 'two_verification' %}" data-key="t-two-step-verification">Двухэтапная проверка</a></li>
            </ul>
        </li>

        <li>
            <a href="javascript: void(0);" class="has-arrow">
                <i class="bx bx-file icon nav-icon"></i>
                <span class="menu-item" data-key="t-utility">Полезность</span>
            </a>
            <ul class="sub-menu" aria-expanded="false">
                <li><a href="{% url 'timeline' %}" data-key="t-timeline">График</a></li>
                <li><a href="{% url 'faqs' %}" data-key="t-faqs">FAQs</a></li>
                <li><a href="{% url 'pricing' %}" data-key="t-pricing">Ценообразование</a></li>
                <li><a href="{% url 'pages_404' %}" data-key="t-error-404">Error 404</a></li>
                <li><a href="{% url 'pages_500' %}" data-key="t-error-500">Error 500</a></li>
            </ul>
        </li>
    </ul>
</div>