{% load static %}
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <!-- swiper css -->
        <link rel="stylesheet" href="{% static 'assets/libs/swiper/swiper-bundle.min.css' %}">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <!-- <body data-layout="horizontal"> -->
        <!-- Begin page -->
        <div id="layout-wrapper">
            {% include 'include/header.html' %}
            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="index.html" class="logo logo-dark">
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-dark-sm.png' %}" alt="" height="26">
                        </span>
                        <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-dark.png' %}" alt="" height="28">
                        </span>
                    </a>
                    <a href="index.html" class="logo logo-light">
                        <span class="logo-lg">
                            <img src="{% static 'assets/images/logo-light.png' %}" alt="" height="30">
                        </span>
                        <span class="logo-sm">
                            <img src="{% static 'assets/images/logo-light-sm.png' %}" alt="" height="26">
                        </span>
                    </a>
                </div>
                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
                    <i class="bx bx-menu align-middle"></i>
                </button>
                <div data-simplebar class="sidebar-menu-scroll">
                    <!--- Sidemenu -->
                    {% include 'include/sidebar.html' %}
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4">
                                                <div class="product-detail mt-3" dir="ltr">
                                                    <div class="swiper product-thumbnail-slider rounded border overflow-hidden position-relative">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide rounded">
                                                               <div class="p-3">
                                                                    <div class="product-img bg-light rounded p-3" style="height: 300px; width: 300px;">
                                                                        <img src="{{products_detail.image.url}}" class="img-fluid d-block" style="height: 100%; width: 100%; object-fit: cover;" />
                                                                    </div>
                                                               </div>
                                                            </div>
                                                            {% for product in products_detail.product_image.all %}
                                                            <div class="swiper-slide rounded">
                                                                <div class="p-3">
                                                                    <div class="product-img bg-light rounded p-3" style="height: 300px; width: 300px;"> 
                                                                        <img src="{{product.image.url}}" class="img-fluid d-block" style="height: 100%; width: 100%; object-fit: cover;" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                       <div class="d-none d-md-block">
                                                            <div class="swiper-button-next"></div>
                                                            <div class="swiper-button-prev"></div>
                                                       </div>
                                                    </div>
                                                    <div class="mt-4">
                                                        <div thumbsSlider="" class="swiper product-nav-slider mt-2 overflow-hidden">
                                                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide rounded">
                                                                    <div class="nav-slide-item" style="height: 100px; width: 100px;"> 
                                                                        <img src="{{products_detail.image.url}}" class="img-fluid p-1 d-block rounded" style="height: 100%; width: 100%; object-fit: cover;" />
                                                                    </div>
                                                                </div>
                                                                {% for product in products_detail.product_image.all %}
                                                                <div class="swiper-slide rounded">
                                                                    <div class="nav-slide-item" style="height: 100px; width: 100px;"> 
                                                                        <img src="{{product.image.url}}" class="img-fluid p-1 d-block rounded" style="height: 100%; width: 100%; object-fit: cover;" />
                                                                    </div>
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-8">
                                                <div class="mt-3 mt-xl-3 ps-xl-5">
                                                    <h4 class="font-size-20 mb-3"><a href="" class="text-body">{{products_detail.title}}</a></h4>
                                                    <p class="text-muted mb-0">
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star text-warning"></i>
                                                        <i class="bx bxs-star-half text-warning"></i>
                                                    </p>
                                                    <div class="text-muted mt-2">
                                                        <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> 4.5</span> {{review_amount}} Отзывы
                                                    </div>
                                                    <h2 class="text-primary mt-4 py-2 mb-0">{{products_detail.price}}сом <del class="text-muted font-size-18 fw-medium ps-1">{{products_detail.old_price}}сом</del></h2>
                                                    {% if products_detail.discount %}
                                                    <span class="badge bg-danger font-size-10 ms-1">{{products_detail.discount}} % Off</span>
                                                    {% endif %}
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="mt-3">
                                                                    <h5 class="font-size-14">Характеристика :</h5>
                                                                    <ul class="list-unstyled ps-0 mb-0 mt-3">
                                                                        {% for feature_get in products_detail.product_feature.all %}
                                                                        <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i>{{feature_get.feature}}</p></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="mt-3">
                                                                    <h5 class="font-size-14">Сервисы :</h5>
                                                                    <ul class="list-unstyled ps-0 mb-0 mt-3">
                                                                        <li><p class="text-muted mb-1 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> Замена в течение 10 дней </p></li>
                                                                        <li><p class="text-muted mb-0 text-truncate"><i class="mdi mdi-circle-medium align-middle text-primary me-1"></i> Возможен наложенный платеж </p></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="mt-3">
                                                                    <h5 class="font-size-14">Место доставки:</h5>

                                                                    <div class="d-inline-flex mt-2">
                                                                        <div class="input-group mb-3">
                                                                            <input type="text" class="form-control" placeholder="Введите пин-код доставки">
                                                                            <button class="btn btn-primary" type="button">Проверить</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-sm-8">
                                                                <div class="product-desc-color mt-3">
                                                                    <h5 class="font-size-14">Цвет :</h5>
                                                                    <ul class="list-inline mt-3">
                                                                        <li class="list-inline-item">
                                                                            <i class="mdi mdi-circle font-size-18 text-body"></i>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <i class="mdi mdi-circle font-size-18 text-success"></i>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <i class="mdi mdi-circle font-size-18 text-primary"></i>
                                                                        </li>
                                                                        
                                                                        <li class="list-inline-item">
                                                                            <a href="#" class="text-primary border-0 p-1">
                                                                                2 + Colors
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="row text-center mt-4 pt-1">
                                                                    <div class="col-sm-6">
                                                                        <div class="d-grid">
                                                                            <a href="{% url 'add_to_cart' products_detail.id %}?quantity=1" class="btn btn-primary waves-effect waves-light mt-2 me-1">
                                                                                <i class="bx bx-cart me-2"></i> В корзину
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="d-grid">
                                                                            <button type="button" class="btn btn-light waves-effect  mt-2 waves-light">
                                                                                <i class="bx bx-shopping-bag me-2"></i>Купить
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="font-size-14 mb-3">Product Track : </h5>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="border p-4 rounded mt-4 mt-lg-0">
                                                        <i class="bx bxs-truck h2 text-primary mb-0"></i>
                                                        <h5 class="font-size-17 mb-0 mt-3">{{service.title_1}}</h5>
                                                        <p class="text-muted mb-0 pt-2">{{service.description_1}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="border p-4 rounded mt-4 mt-lg-0">
                                                        <i class="bx bx-rotate-right h2 text-primary mb-0"></i>
                                                        <h5 class="font-size-17 mb-0 mt-3">{{service.title_2}}</h5>
                                                        <p class="text-muted mb-0 pt-2">{{service.description_2}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="border p-4 rounded mt-4 mt-lg-0">
                                                        <i class="bx bx-support h2 text-primary mb-0"></i>
                                                        <h5 class="font-size-17 mb-0 mt-3">{{service.title_3}}</h5>
                                                        <p class="text-muted mb-0 pt-2">{{service.description_3}}</p>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="border p-4 rounded mt-4 mt-lg-0">
                                                        <i class="bx bxs-wallet-alt h2 text-primary mb-0"></i>
                                                        <h5 class="font-size-17 mb-0 mt-3">{{service.title_4}}</h5>
                                                        <p class="text-muted mb-0 pt-2">{{service.description_4}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end row -->
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="">
                                                    <h5 class="font-size-14 mb-3">Отзывы: </h5>
                                                    <div class="text-muted mb-3">
                                                        <span class="badge bg-success font-size-14 me-1"><i class="mdi mdi-star"></i> 4.2</span> {{review_amount}} Reviews
                                                    </div>
                                                    <div class="border py-4 rounded">
                                                        <div class="px-4" data-simplebar style="max-height: 360px;">
                                                            {% for review in reviews %}
                                                            <div class="border-bottom pb-3">
                                                                <p class="float-sm-end text-muted font-size-13">{{review.created_at}}</p>
                                                                <div class="badge bg-success mb-2"><i class="mdi mdi-star"></i> 4.1</div>
                                                                <p class="text-muted mb-4">{{review.text}}</p>
                                                                <div class="d-flex align-items-start">
                                                                    <div class="flex-grow-1">
                                                                        <div class="d-flex">
                                                                            <img src="{{review.user.image.url}}" class="avatar-sm rounded-circle" alt="">
                                                                            <div class="flex-1 ms-2 ps-1">
                                                                                <h5 class="font-size-16 mb-0">{{review.user.username}}</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <ul class="list-inline product-review-link mb-0">
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="px-4 mt-2">
                                                            <div class="border rounded mt-4">
                                                                <form method="POST" action="{% url 'product_detail' id=products_detail.id %}">
                                                                    {% csrf_token %}
                                                                    <textarea rows="3" name="text" class="form-control border-0 resize-none" placeholder="Ваше сообщение..."></textarea>
                                                                    <button type="submit" name="review_button" class="btn btn-success w-sm text-truncate ms-2"> Опубликовать</button>
                                                                </form>
                                                            </div>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="product-desc">
                                                    <h5 class="font-size-14 mb-3">Описание товара : </h5>
                                                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                                        <li class="nav-item">
                                                          <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab">Описание</a>
                                                        </li>
                                                        <li class="nav-item">
                                                          <a class="nav-link active" id="specifi-tab" data-bs-toggle="tab" href="#specifi" role="tab">Характиристика</a>
                                                        </li>
                                                    </ul>
                                                    <div class="tab-content border border-top-0 p-4">
                                                        <div class="tab-pane fade" id="desc" role="tabpanel">
                                                            <div class="row">
                                                                <div class="col-sm-3 col-md-3">
                                                                    <div>
                                                                        <img src="{{products_detail.image.url}}" alt="" class="img-fluid mx-auto rounded d-block">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-9 col-md-9">
                                                                    <div class="text-muted p-2">
                                                                        <p>{{products_detail.description|safe}}</p>
    
                                                                        <div>
                                                                            <ul class="list-unstyled product-desc-list text-body mb-0">
                                                                                {% for feature_get in products_detail.product_feature.all %}
                                                                                <li><i class="mdi mdi-circle-medium me-1 align-middle text-primary"></i>{{feature_get.feature}}</li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade show active" id="specifi" role="tabpanel">
                                                            <div class="table-responsive">
                                                                <table class="table table-nowrap mb-0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row">Бренд :</th>
                                                                            <td>{{products_detail.brand}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Цвет :</th>
                                                                            <td>{{products_detail.color}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Количество :</th>
                                                                            <td>{{products_detail.quantity}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th scope="row">Материал :</th>
                                                                            <td>{{products_detail.material}}</td>
                                                                        </tr>
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                    <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                {% include 'include/footer.html' %}
            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <a href="#" class="right-bar-toggle layout-setting-btn" id="right-bar-toggle">
            <i class="bx bx-cog icon-sm font-size-18"></i> <span>Settings</span>
        </a>
        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">
                <div class="rightbar-title d-flex align-items-center bg-dark p-3">

                    <h5 class="m-0 me-2 text-white">Theme Customizer</h5>

                    <a href="javascript:void(0);" class="right-bar-toggle-close ms-auto">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                </div>
                <!-- Settings -->
                <hr class="m-0" />
                <div class="p-4">
                    <h6 class="mb-3">Layout</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout"
                            id="layout-vertical" value="vertical">
                        <label class="form-check-label" for="layout-vertical">Vertical</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout"
                            id="layout-horizontal" value="horizontal">
                        <label class="form-check-label" for="layout-horizontal">Horizontal</label>
                    </div>

                    <h6 class="mt-4 mb-3">Layout Mode</h6>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-mode"
                            id="layout-mode-light" value="light">
                        <label class="form-check-label" for="layout-mode-light">Light</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-mode"
                            id="layout-mode-dark" value="dark">
                        <label class="form-check-label" for="layout-mode-dark">Dark</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-mode"
                            id="layout-mode-bordered" value="bordered">
                        <label class="form-check-label" for="layout-mode-bordered">Bordered</label>
                    </div>

                    <h6 class="mt-4 mb-3">Layout Width</h6>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-width"
                            id="layout-width-fluid" value="fluid" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                        <label class="form-check-label" for="layout-width-fluid">Fluid</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-width"
                            id="layout-width-boxed" value="boxed" onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                        <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                    </div>

                    <h6 class="mt-4 mb-3">Layout Position</h6>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-position"
                            id="layout-position-fixed" value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                        <label class="form-check-label" for="layout-position-fixed">Fixed</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-position"
                            id="layout-position-scrollable" value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                        <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
                    </div>

                    <h6 class="mt-4 mb-3">Topbar Type</h6>

            
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="topbar-color"
                            id="topbar-color-light" value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
                        <label class="form-check-label" for="topbar-color-light">Light</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="topbar-color"
                            id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
                        <label class="form-check-label" for="topbar-color-dark">Dark</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="topbar-color"
                            id="topbar-type-hidden" value="hidden" onchange="document.body.setAttribute('data-topbar', 'hidden')">
                        <label class="form-check-label" for="topbar-type-hidden">Hidden</label>
                    </div>
            

                    <div id="sidebar-setting">
                    <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Size</h6>

                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-size"
                            id="sidebar-size-default" value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                        <label class="form-check-label" for="sidebar-size-default">Default</label>
                    </div>
                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-size"
                            id="sidebar-size-compact" value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                        <label class="form-check-label" for="sidebar-size-compact">Compact</label>
                    </div>
                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-size"
                            id="sidebar-size-small" value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                        <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
                    </div>

                    <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Color</h6>

                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-color"
                            id="sidebar-color-light" value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
                        <label class="form-check-label" for="sidebar-color-light">Light</label>
                    </div>
                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-color"
                            id="sidebar-color-dark" value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
                        <label class="form-check-label" for="sidebar-color-dark">Dark</label>
                    </div>
                    <div class="form-check sidebar-setting">
                        <input class="form-check-input" type="radio" name="sidebar-color"
                            id="sidebar-color-brand" value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
                        <label class="form-check-label" for="sidebar-color-brand">Brand</label>
                    </div>
                </div>

                    <h6 class="mt-4 mb-3">Direction</h6>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-direction"
                            id="layout-direction-ltr" value="ltr">
                        <label class="form-check-label" for="layout-direction-ltr">LTR</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="layout-direction"
                            id="layout-direction-rtl" value="rtl">
                        <label class="form-check-label" for="layout-direction-rtl">RTL</label>
                    </div>

                </div>

            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- chat offcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasActivity" aria-labelledby="offcanvasActivityLabel">
            <div class="offcanvas-header border-bottom">
              <h5 id="offcanvasActivityLabel">Offcanvas right</h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              ...
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/libs/metismenujs/metismenujs.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/eva-icons/eva.min.js' %}"></script>

        <!-- swiper js -->
        <script src="{% static 'assets/libs/swiper/swiper-bundle.min.js' %}"></script>

        <script src="{% static 'assets/js/pages/ecommerce-product-detail.init.js' %}"></script>

        <script src="{% static 'assets/js/app.js' %}"></script>

    </body>

</html>